<form class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Post</h3>
        </div>
    </div>
    <div class="panel-body">
      
      
     <div class="dropdown">

                    <select class="form-control" id="carpentry"(change)="toggleCategory($event)">
                        <option>carpentry</option>
                        <option>electrical</option>
                        <option>material</option>
                        <option>etc</option>
                    </select>
                    <div *ngIf="this.selected === 'carpentry'">
                            <app-carpenrtry>CARPENTRY IS THE CATEGORY</app-carpenrtry>
                            <button (click)="closeCategory()">Reset Category</button>
                    </div>
                  
                    <div *ngIf="this.selected === 'electrical'">
                        <app-electrical>
                     
                        </app-electrical>
                    </div>
                    <div *ngIf="this.selected === 'material'">
                    <app-material></app-material>
                    </div>
                </div>
            </div>
</form>