<div class="form-group">
  <label class="col-md-2 control-label">Electric</label>
  <div class="col-md-8">

    <div class="dropdown">

      <select class="form-control" id="sub-category" (change)='selectSubCategory($event, this.subCategories)'>
        <option value=0>Instruments</option>

        <option value=0>Cable</option>
        <option value=1>Hardware</option>
        <option value=2>Accessories</option>
        <option value=3>Consumables</option>
        <option value=4>Misc</option>

      </select>
      <div>
        <app-cables></app-cables>
      </div>
      

    </div>
  </div>
</div>